backend/adapters/ViewSoap/src/main/resources/pas-soap.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://p.lodz.pl/pas/soap"
           xmlns:tns="http://p.lodz.pl/pas/soap"
           elementFormDefault="qualified">

    <xs:complexType name="SoapUser">
        <xs:sequence>
            <xs:element name="id" type="xs:string" minOccurs="0"/>
            <xs:element name="username" type="xs:string" minOccurs="0"/>
            <xs:element name="name" type="xs:string" minOccurs="0"/>
            <xs:element name="active" type="xs:boolean"/>
            <xs:element name="role" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="SoapResource">
        <xs:sequence>
            <xs:element name="id" type="xs:string" minOccurs="0"/>
            <xs:element name="name" type="xs:string" minOccurs="0"/>
            <xs:element name="description" type="xs:string" minOccurs="0"/>
            <xs:element name="type" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="SoapAllocation">
        <xs:sequence>
            <xs:element name="id" type="xs:string" minOccurs="0"/>
            <xs:element name="userId" type="xs:string" minOccurs="0"/>
            <xs:element name="resourceId" type="xs:string" minOccurs="0"/>
            <xs:element name="startTime" type="xs:string" minOccurs="0"/>
            <xs:element name="endTime" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="GetUserByUsernameRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="username" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="GetUserByUsernameResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="user" type="tns:SoapUser" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="GetResourcesRequest">
        <xs:complexType/>
    </xs:element>

    <xs:element name="GetResourcesResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="resource" type="tns:SoapResource" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="CreateAllocationRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="userId" type="xs:string"/>
                <xs:element name="resourceId" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="CreateAllocationResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="allocation" type="tns:SoapAllocation" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>

